body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 20px;
    padding: 20px;
    align-content: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.col {
    flex: 0 0 50%;
    padding: 0 10px;
    margin-bottom: 10px;    
}

/* Border around genres checkbox labels */
.genres-label {
    display: inline-block;
    /*border: 1px solid #ddd;*/
    padding: 5px 10px;
    margin: 5px;
   /* flex: 0 0 30%;  Adjust as needed */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .col {
        flex: 0 0 50%;
    }
}